#root {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
  flex: 1;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.stepper {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1em;

  /* background-color: #fff; */
  max-width: 600px;
  width: 600px;
  /* color: #fff; */
  border-radius: 16px;
}

.step {
  color: #000;
  /* padding: 2em; */
  /* background-color: #fff; */
  border-radius: 16px;
}

.step-faded {
  color: #888;
  transform: scale(0.8);
}
