#root {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.stepper {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1em;
}

.step {
  padding: 2em;
}

.step-faded {
  color: #888;
  transform: scale(0.8);
}
